<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Post Page</title>
</head>
<body>
    <form action="/postpage" method="post">
        Name: <input type="text" name="username"/>
        <hr/>
        Password: <input type="password" name="passwd"/>
        <hr/>
        Hobby:
        <input type="checkbox" value="moive" name="hobby">Moive
        <input type="checkbox" value="money" name="hobby">Money
        <input type="checkbox" value="book" name="hobby">Book
        <hr/>
        <input type="submit" value="login"/>
    </form>
</body>
</html>